* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:#ebeff5;
}

#logo {
  // background-color: #4cb4c7;
}

#total-orders {
  background-color: #4cb4c7;
}

#total-delivered {
  background-color: #7abecc;
}

#total-pending {
  background-color: #7cd1c0;
}