{% extends 'accounts/main.html' %}

{% block content %}
    {% include 'accounts/status.html' %}
    <br>
    <h2>User page</h2>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h5>LAST 5 ORDERS</h5>
            <hr>

            <div class="card card-body">
                <a href="#" class="btn btn-primary btn-sm btn-block">
                    Create Order
                </a>

                <table>
                    <tr>
                        <th>Product</th>
                        <th>Note</th>
                        <th>Date Ordered</th>
                        <th>Status</th>
                    </tr>

                    {% for order in orders %}
                        <tr>
                            <td>{{ order.product }}</td>
                            <td>{{ order.note }}</td>
                            <td>{{ order.date_created }}</td>
                            <td>{{ order.status }}</td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
{% endblock content %}
